/* 1440px/16px = 90em */
@media (max-width: 90em) {
  .inner-wrapper {
    grid-template-columns: 7fr 5fr;
    gap: 5rem;
  }

  .protruding--info-box {
    gap: 2.5rem;
    padding: 0;
  }

  .protruding--title {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  .protruding--description {
    line-height: 2.07rem;
  }
}

/* 1025px/16px ~ 64em */
@media (max-width: 64em) {
  /* Header */
  .header-logo {
    height: 4rem;
  }

  .header-logo > svg {
    height: 4rem;
    width: 13.4rem;
  }

  .social-links {
    display: none;
  }

  .language-switch {
    margin-right: 1rem;
  }

  .menu-open {
    height: 3.2rem;
  }

  .menu-open > svg {
    height: 3.2rem;
    width: 3.2rem;
  }

  /* Slider Section */
  .slide-description,
  .carousel-description {
    max-width: 30rem;
  }

  .btn:link,
  .btn:visited {
    padding: 1.5rem 1.5rem 1.5rem 2.5rem;
    gap: 2rem;
  }

  /* Three grid section */
  .tgs-title {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }

  .tgs-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8rem 6rem;
  }

  /* carousel section */
  .carousel-title {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }

  .carousel-card {
    clip-path: polygon(
      0% 40px,
      40px 0%,
      100% 0%,
      100% calc(100% - 40px),
      calc(100% - 40px) 100%,
      0% 100%
    );
  }

  .carousel-card--title {
    font-size: 1.8rem;
    line-height: 2rem;
    max-height: 6rem;
  }

  .protruding--title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .protruding--description {
    font-size: 1.6rem;
    line-height: 1.84rem;
  }

  /* misc section */

  .misc-inner-wrapper {
    grid-template-rows: 42rem 50rem;
  }

  /* newsletter section */
  .newsletter-box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
  }

  .newsletter-form {
    align-items: center;
  }

  /* footer */
  .footer-link:link,
  .footer-link:visited,
  .footer-copyright {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  .footer-logo-group {
    flex-direction: column;
  }

  .scrambler-logo-link > svg {
    height: 3rem;
    width: 3rem;
  }

  .footer-social-icon {
    font-size: 2rem;
  }
}

/* 768px/16px = 48em */
@media (max-width: 48em) {
  /* .slide {
    height: calc(100% - 5rem);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 60%),
      url("../assets/images/2.jpg");
    background-position: 0 0, 0 -35rem;
    background-position: center center;
    background-repeat: no-repeat;
  } */

  .slide-title {
    font-size: 3.8rem;
  }

  .separator-line {
    width: 17rem;
  }

  .slider-controls-wrapper {
    justify-content: center;
    bottom: -4rem;
  }

  .carousel-title {
    max-width: 100%;
  }

  /* protruding section */
  .inner-wrapper,
  .protruding-yellow > .inner-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 2rem;

    justify-content: center;
    align-items: center;
  }

  .protruding--img-box {
    grid-row: 2/3;
    grid-column: auto;
  }

  .protruding--info-box {
    grid-row: 1/2;
    grid-column: auto;
  }

  .protruding--img {
    transform: scaleY(1);
  }

  /* misc section */
  .misc-inner-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .misc-item-1 {
    grid-column: auto;
  }

  /* gallery section */
  .gallery-inner-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}

/* 600px/16px = 37.5em */
@media (max-width: 37.5em) {
  .tgs-cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 6rem;
  }
}

/* 480px/16px = 30em */
@media (max-width: 30em) {
  .header-logo {
    height: 3rem;
  }

  .header-logo > svg {
    height: 3rem;
    width: 10rem;
  }
}
