@font-face {
  font-family: "ducati rg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DucatiStyle_W_Rg.woff2") format("woff2");
}

@font-face {
  font-family: "ducati bd";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/DucatiStyle_W_Bd.woff2") format("woff2");
}

@font-face {
  font-family: "ducati condensed rg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DucatiStyleCond_W_Bd.woff2") format("woff2");
}

@font-face {
  font-family: "ducati condensed bd";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/DucatiStyleCond_W_XBd.woff2") format("woff2");
}

@font-face {
  font-family: "ducati extended rg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DucatiStyleExt_W_Rg.woff2") format("woff2");
}

@font-face {
  font-family: "ducati extended bd";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/DucatiStyleExt_W_Bd.woff2") format("woff2");
}

:root {
  --black: #000;
  --black-1: #0f0f0f;
  --black-2: #1d1d1d;
  --white: #fff;
  --white-1: #fafafa;
  --grey-1: #666;
  --grey-2: #ebebeb;
  --grey-3: #ddd;
  --grey-4: #bbbcbc;
  --grey-5: #555;
  --grey-6: #7f7f7f;
  --red-1: #e02b27;
  --red-2: #f00;
  --red-3: #c00;
  --red-4: #9e0000;

  --ducati-rg: "ducati rg", Arial, sans-serif;
  --ducati-bd: "ducati bd", Arial, sans-serif;

  --ducati-cond-rg: "ducati condensed rg", Arial, sans-serif;
  --ducati-cond-bd: "ducati condensed bd", Arial, sans-serif;

  --ducati-ext-rg: "ducati extended rg", Arial, sans-serif;
  --ducati-ext-bd: "ducati extended bd", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ducati-rg);
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  color: var(--black-1);
  line-height: 1.4;
  position: relative;
}

div,
nav,
form,
fieldset,
header {
  display: block;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
}

.header .inner-wrapper {
  max-width: 133rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-header {
  width: 100%;
  height: 7rem;
  padding: 0 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left > a:link,
.left > a:visited {
  font-family: var(--ducati-cond-bd);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.7rem;
  letter-spacing: 1px;
  color: var(--white-1);
  text-decoration: none;
  text-transform: uppercase;
}

.middle > p {
  color: var(--white-1);
  font-family: var(--ducati-ext-bd);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 1px;
}

.right {
  font-family: var(--ducati-cond-bd);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: var(--white-1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.store-switcher {
  border-right: 1px solid var(--grey-4);
  padding-right: 3.2rem;
}

.country {
  text-decoration: none;
  color: var(--white-1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.country-flag {
  background: url(../../public/images/country_flags.webp) -47px -1px;
  width: 2.1rem;
  height: 1.6rem;
  margin-right: 1.6rem;
}

.icon {
  margin-left: 1.5rem;
}

.icon > svg {
  fill: var(--white-1);
  width: 1rem;
}

.login {
  padding-left: 3.2rem;
}

.login > a:link,
.login > a:visited {
  font-family: var(--ducati-cond-bd);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: var(--white-1);
  text-decoration: none;
}

/* MAIN MENU */
.main-menu {
  position: relative;
}

.sticky {
  padding-left: 3rem;
  padding-right: 3rem;
  position: fixed;
  right: 0;
  left: 0;
  max-width: 200rem;
  width: 100%;
  margin: 0 auto;
  transition: height 0.3s, padding 0.3s;
  z-index: 1000;
}

.sticky-body {
  position: relative;
  max-width: 133rem;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--white-1);
  border-radius: 2px;
  transition: height 0.3s;
}

.sticky-top-wrap {
  height: 11rem;
  padding: 0 4.5rem;
  transition: height 0.3s;
  border-bottom: 1px solid rgba(187, 188, 188, 0.5);

  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr;
  grid-template-columns: 4fr 1fr 4fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-menu--icon {
  font-size: 2.4rem;
}

.main-menu--left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.2rem;
}

.main-menu--right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu--list {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.main-menu--link:link,
.main-menu--link:visited {
  color: var(--black-1);
  font-family: var(--ducati-cond-rg);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-menu--middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-menu--middle span {
  font-weight: 700;
  white-space: nowrap;
}

.logo-container {
  height: 5.6rem;
}

.logo {
  height: 100%;
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.red-btn {
  font-family: var(--ducati-cond-bd);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.07;
  letter-spacing: 1.1px;
  text-decoration: none;
  text-align: center;
  color: var(--white-1);
  outline: none;
  border: none;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.2rem;
  max-width: 20rem;
  width: 100%;
  height: 6rem;
  cursor: pointer;
  background: linear-gradient(to bottom, var(--red-2), var(--red-3));
}

.red-btn:hover {
  background: linear-gradient(to bottom, var(--red-3), var(--red-2));
}

.red-link:link,
.red-link:visited {
  color: var(--red-3);
  font-family: var(--ducati-cond-rg);
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  text-decoration: none;
}

.red-link:hover,
.red-link:active {
  color: var(--red-4);
  cursor: pointer;
}

/* NEW COLLECTION Section */
.new-collection {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--white-1);
}

.new-collection .title {
  color: var(--black-1);
  font-family: var(--ducati-rg);
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.08rem;
  letter-spacing: 0.08rem;
  margin: 2.5rem 0 2rem;
}

.new-collection .inner-wrapper {
  max-width: 139rem;
  width: 100%;
  padding: 0 3rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 0.5rem;

  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-color: var(--white);
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.08);
}

.card:hover {
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.1);
  margin-top: -1px;
  margin-left: -1px;
  margin-right: 1px;
  margin-bottom: 1px;
  cursor: pointer;
}

.card-img-box {
  margin: 4rem 0 1rem;
  max-height: 21rem;
  width: 100%;
  height: 100%;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;

  margin-bottom: 4.2rem;
  padding: 0 1.5rem;
}

.item-name {
  font-family: var(--ducati-ext-bd);
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--black-1);
  line-height: 2.6rem;
  letter-spacing: 0.8px;
}

.item-price {
  font-family: var(--ducati-ext-rg);
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 3rem;
  letter-spacing: 0.08rem;
}

.buttons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 4rem;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-btn {
  width: 4.4rem;
  height: 4.4rem;
  border: none;
  border-radius: 100%;
  color: var(--white);
  background-color: var(--grey-6);
  font-size: 2rem;
}

.arrow-btn:hover {
  background-color: var(--black-1);
  cursor: pointer;
}

/* RECOMMENDED Section */
.new-collection.recommended {
  background-color: var(--white);
  padding-top: 10rem;
}

.new-collection.recommended .inner-wrapper {
  max-width: 133rem;
  padding: 0;
  box-shadow: 0 12px 17px 0 rgba(0, 0, 0, 0.05);
}

.new-collection.recommended .inner-wrapper:hover {
  box-shadow: none;
}

.new-collection.recommended .card {
  box-shadow: none;
}

.new-collection.recommended .inner-wrapper .card:hover {
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.1);
}

/* HERO Section */
.hero {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("../../public/images/90.webp");
  min-height: 100vh;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .inner-wrapper {
  max-width: 133rem;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 8rem 3rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.hero-title {
  color: var(--white-1);
  font-family: var(--ducati-ext-bd);
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.7rem;
  letter-spacing: 1.2px;
  max-width: 50%;
  margin-bottom: 2.5rem;
}

.hero-description {
  color: var(--white-1);
  font-family: var(--ducati-rg);
  font-weight: 400;
  line-height: 2.7rem;
  font-size: 1.8rem;
  letter-spacing: 0.8px;
  margin-bottom: 3rem;
}

/* CAROUSEL Section */

.carousel {
  margin-top: 12rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;
}

.carousel .inner-wrapper {
  max-width: 133rem;
  overflow-x: auto;
  overflow: visible;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  gap: 2rem;
}

.carousel-item {
  width: 62.5rem;
  height: 40.5rem;
  flex-shrink: 0;
}

.carousel-item p {
  padding: 3rem 4rem;
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--ducati-cond-rg);
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 15.96px;
}

.carousel-item.item-1 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("../../public/images/87.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item.item-2 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("../../public/images/88.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item.item-3 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("../../public/images/89.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BANNER Section */

.banner {
  width: 100%;
  padding: 6rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .inner-wrapper {
  max-width: 133rem;
  width: 100%;

  position: relative;
}

.banner-img-box,
.banner-img {
  width: 100%;
  height: 100%;
}

.banner-img-box {
  position: relative;
  overflow: hidden;
}

.banner-img-box:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.5%; /* FIXME - This is not working properly */

  background: linear-gradient(to left, rgba(0, 0, 0, 0), #000);
  opacity: 0.6;
}

.banner-info {
  position: absolute;
  top: 7rem;
  left: 9rem;
  bottom: 8rem;
  width: 30%;

  color: var(--white-1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-title {
  font-size: 2.5rem;
  font-family: var(--ducati-ext-bd);
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: 0.8px;
}

.banner-description {
  font-family: var(--ducati-rg);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: 1.5px;
}

/* TABS Section */

.tabs {
  width: 100%;
  padding: 6rem 0 12rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--white-1);
}

.tabs .inner-wrapper {
  max-width: 139rem;
  width: 100%;
  padding: 0 3rem; /* FIXME this changes in media queries */

  height: 74rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.tabs .inner-wrapper .img {
  height: 100%;
  width: 100%;

  background: url("../../public/images/72.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.tabs-right {
  padding: 4rem;
  padding-left: 8.1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  background-color: var(--white);
}

.tabs-list {
  list-style: none;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4.3rem; /* FIXME this changes in media queries to 1rem */

  text-transform: uppercase;
  font-family: var(--ducati-cond-bd);
  font-weight: 700;
  color: var(--grey-4);
  opacity: 0.7;

  margin-bottom: 12rem;
}

.tab-item {
  cursor: pointer;
}

.tab-item.active {
  color: var(--grey-1);
  opacity: 1;
}

.tab-description {
  font-family: var(--ducati-rg);
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--black-1);
  max-width: 42rem;
  width: 100%;
  letter-spacing: 0.8px;
  margin-bottom: 4rem;
}

.tabs-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.tabs-bottom .arrow {
  font-size: 2rem;
}

.tabs-bottom .arrow-disabled {
  color: var(--grey-5);
  opacity: 0.2;
}

/* NEWSLETTER */
.newsletter {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.newsletter-wrapper {
  position: relative;
  max-width: 142rem;
  width: 100%;
  margin: 0 auto;
  padding: 9.5rem 6rem;
}

.newsletter-title {
  display: block;
  font-family: var(--ducati-ext-bd);
  font-weight: 700;
  text-align: center;
  margin: 3rem auto 3.5rem;
  font-size: 2.5rem;
}

.newsletter-content {
  text-align: center;
  margin: 0 auto;
  max-width: 85rem;
  width: 100%;
}

.fieldset {
  border: 0;
  margin: 0 0 4rem;
  padding: 0;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 1.5rem;
  width: 100%;

  margin-bottom: 1rem;
}

.control {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
}

.control-label {
  font-family: var(--ducati-rg);
  font-weight: 400;
  letter-spacing: 1.2px;
  font-size: 1.5rem;
  color: var(--grey-1);
  margin-bottom: 0.5rem;
}

.control-label:after {
  content: "*";
  color: var(--red-1);
  font-size: 1.2rem;
  margin: 0 0 0 0.5rem;
}

.control-input {
  width: 100%;
  height: 6rem;
  border: 1px solid var(--grey-2);
  padding: 1.6rem;
  outline: none;
}

.dropdown-container {
  width: 100%;
  position: relative;
}

.dropdown-select {
  width: 100%;
  outline: none;
  border: 1px solid var(--grey-3);
  appearance: none;
  padding-left: 1.6rem;

  height: 6rem;

  font-size: 1.8rem;
  font-family: var(--ducati-rg);
  font-weight: 400;
}

.dropdown-icon-container {
  position: absolute;
  top: 0;
  right: 0;

  height: 6rem;
  width: 6rem;
  border-left: 1px solid var(--grey-3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-icon {
  height: 0.5rem;
}

/* FIXME: options css not working, figure it out */
/* option {
  border: none;
  outline: none;
  appearance: none;
} */

.form-label {
  padding-top: 0.3rem;
  margin-bottom: 2rem;

  font-family: var(--ducati-cond-rg);
  font-weight: 400;
  color: var(--grey-1);
  text-align: center;
  letter-spacing: normal;
  line-height: 1.4;
  font-size: 1.6rem;
}

.form-label > a:link,
.form-label > a:visited {
  color: var(--black-1);
}

.submit-btn {
  position: relative;
  margin: 2rem auto;
}

/* FOOTER */

.page-footer {
  background-color: var(--black-1);
  padding-bottom: 12rem;
  padding-top: 12rem;
  display: block;
}

.footer.content {
  position: relative;
  max-width: 133rem;
  margin: 0 auto;
  color: var(--grey-1);
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.logo-footer {
  display: flex;
  width: 15rem;
  margin: 0 auto 4.5rem auto;
}

.logo-footer .logo {
  margin: auto;
  max-width: 100%;
}

.logo-footer .logo svg {
  fill: var(--grey-1);
  width: 15rem;
}

.footer.content .links {
  list-style: none;
  user-select: none;
  white-space: nowrap;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  font-family: var(--ducati-cond-rg);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 3rem;
  letter-spacing: 0.1rem;

  margin: 0 0 2rem;
}

.footer.content .links .item {
  display: block;
  margin: 0 3rem;
  padding-bottom: 0;
}

.footer.content .links .item a {
  text-decoration: none;
  cursor: pointer;
  color: var(--grey-1);
}

.footer.content .copyright {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 9rem;
}

.footer.content .copyright .copyright--inner {
  width: 85%;
  margin: 0 auto;
}

.footer.content .flex {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.footer.content .flex > .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 33%;
  width: 33%;
}

.footer.content .flex > .box .scrambler {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: var(--grey-1);
  text-decoration: none;
  white-space: nowrap;
  order: 0;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  font-family: var(--ducati-cond-bd);
  font-weight: 700;

  margin: 0 auto 0 0;
}

.footer.content .flex > .box .scrambler svg {
  fill: var(--grey-1);
  height: 2.5rem;
  width: 6.8rem;
}

.footer.content .flex > .box.socials > .link {
  margin: 1.5rem 2.2rem;
  display: inline-block;
  font-family: var(--ducati-cond-rg);
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--grey-1);
  font-size: 1.4rem;
  line-height: 1.4;
}

.footer.content .flex > .box.socials > .link .ico {
  max-width: 2.5rem;
  height: 2rem;
  width: auto;
  display: block;
  margin-left: 1.5rem;
}

.footer.content .flex > .box.socials > .link .ico svg {
  height: 100%;
  fill: var(--grey-1);
}

.footer.content .flex > .ducati-link .scrambler {
  width: 100%;
  justify-content: flex-end;
}

/* MEDIA QUERIES */

/* 1140px/16px = 71.25em */
@media (max-width: 71.25em) {
  /* TOP HEADER */
  .top-header {
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left,
  .right {
    display: none;
  }

  .middle > p {
    font-size: 1.2rem;
  }

  /* MAIN MENU */
  .sticky-top-wrap {
    height: 8.4rem;
  }

  .list-1,
  .list-2 {
    display: none;
  }

  .main-menu--right {
    justify-content: flex-end;
  }

  .logo-container {
    height: 5.1rem;
  }

  /* BANNER Section */
  .banner-img-box:after {
    opacity: 0.9;
  }

  .banner-info {
    max-width: 60rem;
    width: 100%;
  }

  /* TABS Section */
  .tabs .inner-wrapper {
    padding: 0 2rem;
  }

  .tabs-right {
    padding: 6%;
  }

  .tabs-list {
    gap: 1rem;
  }
}

/* 768px/16px = 48em */
@media (max-width: 48em) {
  /* TOP HEADER */
  .top-header {
    height: 0.94rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .middle > p {
    font-size: 0.94rem;
  }

  /* MAIN MENU */
  .sticky-top-wrap {
    height: 5.5rem;
  }

  .logo-container {
    height: 4.1rem;
  }

  .main-menu--list {
    gap: 0.7rem;
  }

  .star-icon {
    display: none;
  }

  .main-menu--middle span {
    font-size: 0.9rem;
  }

  /* HERO Section */
  .hero {
    min-height: 59rem !important;
    height: 59rem;
  }

  .hero .inner-wrapper {
    padding: 8rem 1rem 2.8rem;
    min-height: 59rem;
  }

  .hero-title {
    font-size: 2.7rem;
    max-width: 100%;
  }

  .hero-description {
    display: none;
  }

  /* CAROUSEL Section */
  .carousel-item {
    flex-shrink: 1;
    min-width: 5rem;
  }

  /* BANNER Section */
  .banner {
    background-color: var(--white-1);
  }

  .banner .inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-color: var(--white-1);
  }

  .banner-img-box:after {
    opacity: 0;
  }

  .banner-info {
    position: relative;
    display: flex;

    padding-top: 2rem;
    padding-left: 2rem;

    top: 0;
    left: 0;
    bottom: 0;

    background-color: var(--white-1);
    color: var(--black-1);

    max-width: 100%;
    width: 100%;
  }

  .banner-title {
    margin-bottom: 2rem;
  }

  .banner-bottom {
    display: none;
  }

  /* NEW COLLECTION Section */
  .new-collection .inner-wrapper {
    overflow: hidden;
    padding: 0 1rem;
  }

  .card-img-box {
    max-width: 33rem;
    min-width: 22rem;
    width: 100%;
  }

  .item-name {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }

  /* TABS section */
  .tabs .inner-wrapper {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .tabs-list {
    margin-bottom: 6rem;
  }

  .tabs-bottom {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }

  /* NEWSLETTER */
  .newsletter-wrapper {
    padding: 6.5rem 2rem;
  }

  .controls {
    flex-direction: column;
  }

  /* FOOTER */
  .page-footer {
    padding-top: 5rem;
    padding-bottom: 0;
  }

  .footer.content {
    padding-left: 0;
    padding-right: 0;
  }

  .logo-footer {
    margin: 0 auto 3rem auto;
  }

  .footer.content .links {
    flex-direction: column;
    margin-bottom: 4.5rem;
  }

  .footer.content .links .item {
    height: 5rem;
  }

  .footer.content .copyright {
    padding-top: 4.7rem;
    border-top: 3px solid var(--black-2);
    font-size: 1.2rem;
  }

  .footer.content .flex {
    flex-wrap: wrap;
  }

  .footer.content .flex > .box {
    width: 100%;
    flex: 1 0 100%;
  }

  .footer.content .flex > .box .scrambler {
    order: 0;
    width: auto;
    margin: 5rem auto 0;
  }

  .footer.content .flex > .box .scrambler svg {
    width: 10rem;
    height: 3.6rem;
  }

  .footer.content .flex > .socials {
    white-space: nowrap;
    order: -1;
    padding: 0;
    flex-wrap: wrap;
  }

  .footer.content .flex > .ducati-link .scrambler {
    margin-bottom: 5rem;
  }
}
